#plus-btn {
  position: fixed;
  top: 2%;
  right: 6%;
  text-decoration: none;
  font-size: 20px;
  color: rgb(180, 183, 198);
  background-color: rgba(255, 255, 255,0);
  border-radius: 20px;
  border: none;
}

#plus-btn:hover {
  color: rgb(234, 182, 182);
}

#plus-btn:focus {
  outline: none;
}

#eq-chart {
  height: 150px;
  width: 300px;
}

/********************************************
                navigation
********************************************/
.closed-nav {
  position: fixed;
  font-size: 16px;
  height: 100%;
  width: 22px;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  border: none;
  color: rgb(132, 165, 163);
}

.closed-nav:focus {
  outline: none;
}

.closebtn:focus {
  outline: none;
}

.sidenav {
  height: 100%;
  width: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.7s;
  /* padding-top: 60px; */
}

.closebtn {
  position: absolute;
  color: rgb(132, 165, 163);
  background-color: rgba(255,255,255,0);
  border: none;
  height: 100%;
  top: 0px;
  right: 0px;
  font-size: 16px;
  vertical-align: middle;
  /* margin-left: 50px; */
}

.navlink {
  float: left;
  font-size: 20px;
  width: 100%;
  padding: 20px 5px 2px 5px;
  text-decoration: none;
  color: rgb(132, 165, 163);
}

.navlink:hover {
  color: rgb(234, 182, 182);
}

.nav {
  margin-top: 80px;
}

.top-nav {
  position: fixed;
  top: 2.5%;
  margin-left: 4%;
  width: 100%;
  font-size: 18px;
}

.top-nav-link {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(111, 188, 184);
  padding: 0px;
  float: left;
  /* width: 8%; */
  min-width: 180px;
  /* font-size:  */
}

.top-nav-link:hover {
  color: rgba(241, 169, 160, 1);
}
/********************************************
                  all my forms
********************************************/
.signup {
  margin: auto;
  margin-top: 10%;
  width: 30%;
  padding: 2%;
  background-color: rgba(18, 22, 25, 0.5);
  color: white;
  display: block;
  height: auto;
  overflow: auto;
}

.signup input {
  width: 50%;
  margin: 2%;
  float: right;
}

.signup label {
  text-align: right;
  margin: 2%;
  width: 40%;
  float: left;
}

.signup button {
  /* position: relative; */
  margin: auto;

}

.login {
  margin: auto;
  margin-top: 10%;
  width: 30%;
  padding: 3%;
  background-color: rgba(18, 22, 25, 0.5);
  color: white;
  display: block;
  height: auto;
  overflow: auto;
}

.login input {
  margin: 2%;

}

.login label {
  margin: 2%;

}



/********************************************
                  all my buttons
********************************************/
.delete-btn {
  float: right;
}



.btn-div button {
  /* float: right; */
  margin: 10px;
  /* padding: 10px; */
}

/********************************************
                APP / GENERAL
********************************************/
.App {
  text-align: center;
}

.main-container {
  align-content: center;
  margin: auto;
}

.inner-container {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  color: white;
  height: auto;
  padding: 2% 0px 2% 0px;
}

/********************************************
                  DASHBOARD
********************************************/
.summary-card-container {
  width: 62.5%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}

.summary-card {
  background-color: rgba(197, 239, 247, 0.1);
  padding: 1%;
  margin: 2%;
  min-height: 20%;
  display: block;
  overflow-x: auto;
}

.newsfeed {
  width: 20%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 4%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}



.dashboard-equities {
  width: 62.5%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}

.dashboard-equities-full {
  width: 89.1%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 4%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}

.dash-eq-card {
  margin: 3% 1.5% 0% 1.5%;
  float: left;
  padding: 1%;
  width: 45%;
  height: auto;
  background-color: rgba(0,0,0,0.1)
}

.eq-chart {
  border-radius: 1px;
  padding: 10px;
  margin: auto;
  height: 30%;
  width: 70%;
  color: white;
}

.article a {
  color: rgb(120, 190, 190);
}

.article a:hover {
  color: rgba(241, 169, 160, 1);
}

.eq-navlink {
  /* float: left; */
  font-size: 16px;
  width: 100%;
  padding: 20px 5px 5px 5px;
  text-decoration: none;
  color: rgb(120, 190, 190);
}

.eq-navlink:hover {
  color: rgba(241, 169, 160, 1);
}

/********************* EDIT **********************/
.dashboard-equities-edit {
  width: 35%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}

.edit-btn {
  position: fixed;
  right: 10%;
  color: rgb(180, 183, 198);
  text-decoration: none;
}

.sm-eq-edit {
  margin: 3% 1.5% 0% 1.5%;
  float: left;
  padding: 1%;
  width: 95%;
  height: auto;
  background-color: rgba(0,0,0,0.1)
}

.lg-eq-edit {
  margin: 3% 1.5% 0% 1.5%;
  float: left;
  padding: 1%;
  width: 45%;
  height: auto;
  background-color: rgba(0,0,0,0.1)
}

.search-form-container {
  width: 20%;
  height: 860px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  margin-top: 1%;
  overflow-y: auto;
  float: left;
}
/********************* EDIT **********************/









.account-details {
  margin: auto;
  padding: 2%;
  width: 50%;
  margin-top: 3%;
}

.edit-dashname {
  min-width: 220px;
  width: auto;
  height: 22px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  /* float: left; */
  /* align-self: center; */

}


.eq-container {
  /* border-color: rgba(31, 58, 147, 1); */
  /* border-style: solid; */
  /* border-radius: 1px; */
  padding: 10px;
  margin: 10px;
  color: rgba(255,255,255,1);
}

.eq-profile {
  width: 860px;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eq-profile-details {
  align-content: center;
  text-align: left;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 25px 5px 5px 5px;
}

.eq-top {
  margin: auto;
}

.grey-border {
  border-color: rgba(111, 188, 184, 0.9);
  border-style: solid;
  /* border-radius: 5px; */
  border-width: 1.5px;
}

.navbar {
  padding: 10px;
  margin: 10px;
}

.nav-dash {
  padding: 10px;
}



.navlink-dash  {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(111, 188, 184);
  padding: 2px;
  float: left;
  width: 150px;
}

.navlink-dash:hover {
  color: rgba(241, 169, 160, 1);
}

.new-dash {
  /* background-color: rgba(228, 241, 254, 1); */
  padding: 25px;
  margin: 25px;
}

.new-dash input {
  width: 200px;
  margin: 5px;
}

.new-dash div {
  border-color: black;
  border-style: dashed;
  border-radius: 1px;
  min-height: 200px;
  width: 750px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}







.searchbar {
  width: 150px;
  float: right;
  margin: auto;
}

.searchbar-btn {
  float: right;
}

.sm-card {
  background-color: rgba(0,0,0,0.2);
  height: 250px;
  width: 30%;
  float: left;
  margin: 1.5%;
}

.back {
  display: none;
}

.sm-card:hover .back {
  display: block;
}

.sm-card:hover .front {
  display: none;
}




/************************************
            Financials Table
*************************************/
.financials {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.financials td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.financials tr:nth-child(even) {
  background-color: #dddddd;
}

.financials th {
  font-size: 14px;
}

.financials td {
  font-size: 12px;
}

/************************************
            Historic Chart
*************************************/
.historic {
  margin-top: 5%;
  margin-bottom: 5%;
}

.historic label {
  padding: 3px;
  margin-left: 2%;
  font-size: 13px;
}

.historic select {

}

/************************************
            Portfolio
*************************************/
.details {
  background-color: rgba(255,255,255,0.1);
  margin: 10px;
  padding: 1px;
  width: 30%;
  height: 400px;
  float: left;
}

.portfolio-card {
  float: left;
  margin: 2% 2% 1% 1%;
  /* overflow: auto; */
}

.col-1 {
  width: 30%;
  height: 400px;
}

.col-2 {
  width: 60%;
  height: 400px;
}

.bottom {
  width: 93.5%;
  overflow-x: auto;
}

.portfolio-container {
  display: inline;
  /* overflow: auto; */
  margin: auto;
}

/************************************
            MODAL STYLING
*************************************/
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255,255,255,0.9);
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  color: black;
  /* border: 1px solid #888; */
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-content-sm {
  background-color: rgba(255,255,255,0.9);
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  color: black;
  width: 25%;
}

.modal-news a {
  color: black;
  overflow-y: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
