/* ORGANIZED BY ALPHABETICAL ORDER */

#plus-btn {
  width: 20px;
  padding: 2px;
  float: right;
  text-decoration: none;
  color: rgba(0, 181, 204, 1);
  /* background-color: rgba(0,153,153,0.2); */
}

#eq-chart {
  height: 150px;
  width: 300px;
}

/********************************************
                  all my buttons
********************************************/
.delete-btn {
  float: right;
}

.edit-btn {
  float: right;
}

/********************************************
                  CLASSES
********************************************/
.App {
  text-align: center;
  /* align-content: center; */
  /* padding: 20px 50px 50px 50px; */
  /* padding: 2% 0% 2% 0%;
  margin: 2% 0% 2% 0%; */
}

.article a {
  color: rgba(255,255,255,1);
}


.clearfix{
  clear: both;
}

.dash-container {
  /* border-color: "white" */
  /* border-style: solid; */
  /* border-radius: 1px; */
  /* background-color: rgba(255, 255, 255, 0.4); */
  align-content: center;
  padding: 2% 0px 2% 0px;
  margin: auto;
}

.dashboard {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  height: auto;
  padding: 2% 0px 2% 0px;
  /* align-content: center; */
  /* display: table; */
  /* height: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px 100px; */
}



.dashboard-equities {
  width: 40%;
  height: 750px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 1%;
  overflow-y: auto;
  float: left;
}

.edit-dashname {
  min-width: 220px;
  width: auto;
  height: 22px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  /* float: left; */
  /* align-self: center; */

}

.eq-card {
  /* align-self: center; */
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  /* width: 600px; */
  /* background-color: rgba(255,255,255,0.1); */
  height: auto;
}



.eq-chart {
  /* background-color: rgba(100,100,100,1); */
  /* border-color: red; */
  /* border-style: solid; */
  border-radius: 1px;
  padding: 10px;
  margin: auto;
  height: 30%;
  width: 70%;
  color: white;
}

.eq-container {
  /* border-color: rgba(31, 58, 147, 1); */
  /* border-style: solid; */
  /* border-radius: 1px; */
  padding: 10px;
  margin: 10px;
  color: rgba(255,255,255,1);
}

.eq-profile {
  width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eq-profile-details {
  align-content: center;
  text-align: left;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 25px 5px 5px 5px;
}

.eq-top {
  margin: auto;
}

.grey-border {
  border-color: rgba(111, 188, 184, 0.9);
  border-style: solid;
  /* border-radius: 5px; */
  border-width: 1.5px;
}

.navbar {
  padding: 10px;
  margin: 10px;
}

.nav-dash {
  padding: 10px;
}

.navlink {
  padding: 5px;
  margin: 10px 40px 10px 40px;
  text-decoration: none;
  color: rgb(132, 165, 163);
}

.navlink-dash  {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(111, 188, 184);
  padding: 2px;
  float: left;
  width: 150px;
}

.navlink-dash:hover {
  color: rgb(255, 225, 201);
}

.new-dash {
  /* background-color: rgba(228, 241, 254, 1); */
  padding: 25px;
  margin: 25px;
}

.new-dash input {
  width: 200px;
  margin: 5px;
}

.new-dash div {
  border-color: black;
  border-style: dashed;
  border-radius: 1px;
  min-height: 200px;
  width: 750px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsfeed {
  width: 20%;
  height: 750px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  overflow-y: auto;
  float: left;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6; */
  /* float: left; */
  /* display: table-cell; */
}



.search-form-container {
  width: 20%;
  height: 750px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 1%;
  /* margin-right: 2.5%; */
  overflow-y: auto;
  float: left;
}

.searchbar {
  width: 150px;
  float: right;
  margin: auto;
}

.searchbar-btn {
  float: right;
}

.sm-card {
  background-color: rgba(0,0,0,0.2);
  min-height: 170px;
  width: 30%;
  float: left;
  margin: 1.5%;
}

.back {
  display: none;
}

.sm-card:hover .back {
  display: block;
}

.sm-card:hover .front {
  display: none;
}

.summary-card-container {
  width: 62.5%;
  height: 750px;
  padding: 0% 2% 0% 2%;
  margin: auto;
  margin-left: 2.5%;
  overflow-y: auto;
  float: left;
}

.summary-card {
  background-color: rgba(197, 239, 247, 0.1);
  padding: 1%;
  margin: 2%;
  min-height: 20%;
  display: block;
  overflow-x: auto;
}



/************************************
            MODAL STYLING
*************************************/
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255,255,255,0.9);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* color: white; */
  /* border: 1px solid #888; */
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-content input {
  /* width: 250px; */
  /* height: 20px; */
  /* font-size: 14px; */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
