/* ORGANIZED BY ALPHABETICAL ORDER */

#plus-btn {
  width: 20px;
  padding: 2px;
  float: right;
  text-decoration: none;
  color: rgba(0, 181, 204, 1);
  /* background-color: rgba(0,153,153,0.2); */
}



/********************************************
                  CLASSES
********************************************/
.App {
  text-align: center;
  /* border-color: black;
  border-style: dashed;
  border-radius: 2px; */
  padding: 10px;
  /* margin: 10px; */
}

.article a {
  color: rgba(255,255,255,1);
}



.dash-container {
  border-color: rgba(31, 58, 147, 1);
  border-style: solid;
  border-radius: 1px;
  padding: 10px;
  margin: 10px;
}

.dashboard {
  background-color: rgba(100,100,100,1);
  padding: 25px;
  margin: 25px;
  color: white;
  /* display: table; */
  /* height: 800px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px 100px; */
}

.dashboard-equities {
  width: 500px;
}

.edit-dashname {
  min-width: 220px;
  width: auto;
  height: 22px;
  font-size: 18px;
  text-align: center;
}

.eq-card {
  border-color: black;
  border-style: dashed;
  margin: 20px;
  padding: 20px;
  width: 650px;
  height: auto;
}

.eq-chart {
  background-color: rgba(100,100,100,1);
  /* border-color: red; */
  border-style: solid;
  border-radius: 1px;
  padding: 10px;
  margin: auto;
  width: 600px;
  height: 180px;
  color: white;
}

.eq-container {
  border-color: rgba(31, 58, 147, 1);
  border-style: solid;
  border-radius: 1px;
  padding: 10px;
  margin: 10px;
}

.eq-profile {
  width: 800px;
  border-color: rgba(31, 58, 147, 1);
  border-style: solid;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eq-profile-details {
  align-content: center;
  text-align: left;
  width: 500px;
  margin: auto;
}

.eq-top {
  margin: auto;
}

.navbar {
  padding: 10px;
  margin: 10px;
  display: inline-inline-block;
}

.nav-dash {
  padding: 10px;
}

.navlink {
  padding: 5px;
  margin: 15px;
  text-decoration: none;
  color: rgba(92, 151, 191, 1);
}

.navlink-dash  {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(0, 181, 204, 1);
  padding: 2px;
  float: left;
  width: 150px;
}

.new-dash {
  background-color: rgba(228, 241, 254, 1);
  padding: 25px;
  margin: 25px;
}

.new-dash input {
  width: 200px;
  margin: 5px;
}

.new-dash div {
  border-color: black;
  border-style: dashed;
  border-radius: 1px;
  min-height: 200px;
  width: 700px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsfeed {
  border-color: rgba(92, 151, 191, 1);
  border-style: solid;
  width: 300px;
  /* background-color: rgba(197, 239, 247, 1); */
  padding: 10px;
  margin: 10px;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6; */
  /* float: left; */
  /* display: table-cell; */
}


.searchbar {
  width: 150px;
  float: right;
  margin: auto;
}

.searchbar-btn {
  float: right;
}


.summary-card {
  border-color: rgba(92, 151, 191, 1);
  border-style: solid;
  background-color: rgba(197, 239, 247, 1);
  padding: 10px;
  margin: 10px;
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4; */
}



/************************************
            MODAL STYLING
*************************************/
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(255,255,255,1);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content input {
  width: 250px;
  /* height: 20px; */
  /* font-size: 14px; */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
